.box-1{
position: absolute;
right: 70%;



}
.box-2{
position: absolute;
top:35%

}

.box-3 h2{
position: absolute;    
top: 70%;
color: aliceblue;
width: 130vh;
right: 10%;
font-family: Arial, Helvetica, sans-serif;
}
.box-3 h1{
position: absolute;
top: 60%;
color: aliceblue;
right: 40%;
}
.box-4{
position: absolute;    
top: 140%;
right: 70%;


}

.box-5 h1{
position: absolute;
top: 130%;
width: 100vh;
color: gold;
left: 45%;
}

.box-5 p{
position: absolute;
top: 145%;
width: 100vh;
right: 10%;
color: rgb(0, 0, 0);
font-family: Arial, Helvetica, sans-serif;
}

.box-6 a{
position: absolute;
border: 1px solid #fff200;
padding: 5px 10px;
color: black;
background-color: #fffb00;
top: 205%;
right: 40%;
font-family: Georgia, 'Times New Roman', Times, serif;
border-radius: 5px;
}
.box-7 a{
position: absolute;
top: 105%;
border: 1px solid;
padding: 5px 10px;
color: #000000;
background-color: #fff200;
border-radius: 5px;
left: 35%;
}
.box-7 img{
position: absolute;
top: 15%;
left: 40%;
transition: 1s;
}
.box-7 h3{
position: absolute;
top: 35%;
width: 100vh;
left: 23%;
}

.box-7 p{
position: absolute;
top: 45%;
width: 50vh;
left: 11%;
}
.box-7{
position: absolute;
top: 230%;
border: 2px solid #d0d0d0;
padding: 150px 160px;
border-radius: 10px;
box-shadow: 10px 1px 1px 1px;
left: 70%;
}

.box-9 img{
position: absolute;
top: 12%;
left: 35%;
}

.box-9 h3{
position: absolute;
top: 35%;
left: 23%;
}

.box-9 a{
position: absolute;
top: 105%;
border: 1px solid;
padding: 5px 10px;
color: #000000;
background-color: #fff200;
border-radius: 5px;
left: 35%;
}
.box-9 p{
position: absolute;
top: 45%;
width: 50vh;
left: 7%;
}

.box-9{
    position: absolute;
    top: 230%;
    border: 2px solid #d0d0d0;
    padding: 150px 160px;
    border-radius: 10px;
    box-shadow: 10px 1px 1px 1px;
    left: 5%;
}

.box-8 img{
position: absolute;
top: 7%;
left: 40%;
}

.box-8 h3{
position: absolute;
top: 25%;
left: 23%;
}

.box-8 p{
position: absolute;
top: 35%;
width: 47vh;
left: 10%;
}

.box-8{
    position: absolute;
    top: 230%;
    border: 2px solid #d0d0d0;
    padding: 150px 160px;
    border-radius: 10px;
    box-shadow: 10px 1px 1px 1px;
    left: 37%; 
}

.box-8 a{
position: absolute;
top: 105%;
border: 1px solid;
padding: 5px 10px;
color: #000000;
background-color: #fff200;
border-radius: 5px;
left: 35%;
}


.box-11{
position: absolute;
border: 1px solid #bdbdbd;
padding: 10px 30px;
top: 320%;
box-shadow: -1px -1px 10px 10px;
left: 10%;
background-color: chartreuse;
}

.box-12{

position: absolute;
border: 1px solid #bdbdbd;
padding: 10px 30px;
top: 320%;
left: 30%;
background-color: #fff200;
box-shadow: -1px -1px 10px 10px;
}

.box-13{
position: absolute;
border: 1px solid #bdbdbd;
padding: 10px 30px;
top: 320%;
left: 50%;
background-color: rgb(0, 195, 255);
box-shadow: -1px -1px 10px 10px;
}

.box-14{
position: absolute;
border: 1px solid #bdbdbd;
padding: 10px 30px;
top: 320%;
left: 75%;
background-color: darkorange;
box-shadow: -1px -1px 10px 10px;
}

.box-15 img{
position: absolute;
top: 370%;
background-color: #fbfbfb;
}

.box-16{
    position: absolute;
    border: 1px solid #bdbdbd;
    padding: 30px 150px;
    top: 370%;
    left: 75%;
    background-color: rgb(255, 255, 255);
    left: 70%;
}

.box-17{
    position: absolute;
    border: 1px solid #bdbdbd;
    padding: 30px 150px;
    top: 385%;
    left: 75%;
    background-color: rgb(255, 255, 255);
    left: 70%;    
}

.box-18{
    position: absolute;
    border: 1px solid #bdbdbd;
    padding: 30px 150px;
    top: 400%;
    left: 75%;
    background-color: rgb(255, 255, 255);
    left: 70%;      
}

.box-16 img{
position: absolute;
top: 10%;
left: 5%;
}

.box-17 img{
    position: absolute;
    top: 10%;
    left: 5%;
    }

.box-18 img{
position: absolute;
top: 10%;
left: 5%;
}






